* {
  margin: 0;
  box-sizing: border-box;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

body {
  overflow: auto;
}

/* ---- Utils ---- */

.link-to-more {
  font-size: 13px;
  font-family: $roboto;
  position: relative;
  padding-left: 45px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition: color 0.1s linear;
  letter-spacing: 1.02px;
  display: inline-block;
  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }
  &:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 1px;
    background-color: gray;
    left: 0;
    top: calc(50% - 0.5px);
  }
  &:after {
    content: "";
    position: absolute;
    width: 26px;
    height: 1px;
    background-color: gray;
    left: 0;
    top: calc(50% - 0.5px);
    transform: rotate(90deg) scaleX(0);
    transition: transform 0.1s linear;
    display: block;
  }
  &:hover {
    color: $gray;
    &:after {
      transform: rotate(90deg) scaleX(1);
    }
  }
}

.is--huge {
  font-family: $montserrat;
  font-size: 6rem;
  font-weight: 400;
  color: white;
  line-height: 1.083;
  transform: translateX(-5px);
  position: relative;
  display: inline;
}

.year {
  color: $gray;
  font-family: $roboto;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.054rem;
  line-height: 1.428;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 35px;
  > dt {
    position: relative;
    line-height: 1;
    letter-spacing: 0.054rem;
    &:before {
      content: "";
      width: 32.6px;
      height: 3px;
      border-bottom: 1.5px solid $gray;
      left: -31px;
      bottom: 3px;
      position: absolute;
      -webkit-transform-origin: left bottom;
      transform-origin: left bottom;
      -webkit-transform: rotate(-51deg);
      transform: rotate(-51deg);
    }
  }
}

.cursor-alt {
  cursor: url("/images/cursor.png") 27 27, auto;
}
/* ---- Navigation ---- */

header {
  width: 100%;
  max-width: 1420px;
  height: 128px;
  padding: 32px 0 26px 0;
  position: absolute;
  margin: 0 auto;
  margin-top: 32px;
  z-index: 100;
  border: 1px solid $border-color;
  @include in-mobile {
    border: none;
    height: 100px;
  }
  transition: border-color 0.15s, background-color 0.15s;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  @include in-mobile {
    background-color: $header-scrolled;
    border-color: $header-scrolled;
    margin: 0;
  }
  > img {
    margin-left: 43px;
    height: 100%;
  }
  &.scrolled {
    position: fixed;
    margin-top: 0;
    background-color: $header-scrolled;
    border-color: $header-scrolled;
  }
}

label[for="burger"] {
  display: none;
  @include in-mobile {
    display: initial;
  }
  height: 20px;
  cursor: pointer;
  order: 10;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: 43px;
  // display: inline-block;
  span {
    display: block;
    width: 35px;
    height: 3px;
    border-radius: 1.5px;
    margin-top: 3px;
    background: white;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

#burger {
  display: none;
  @include in-mobile {
    &:checked + nav {
      display: initial;
      top: 99px;
    }
    &:not(:checked) + nav {
      display: none;

      max-height: 0;
    }
  }
}

nav {
  right: 0;
  bottom: 0;
  position: absolute;
  @include in-mobile {
    min-height: calc(100vh - 99px);
    background: $header-scrolled;
    left: 0;
    right: 0;
    > .navlist {
      display: inline-block;
      > .navlist__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 50px;
        border-left: none;
        &:after {
          content: "";
          width: 100%;
          height: 1px;
          background-color: $gray;
          position: absolute;
          bottom: 0;
          z-index: 10;
          opacity: 0.1;
        }
      }
    }
  }
}
.navlist {
  padding: 0;
  height: 100%;
  @include in-mobile {
    width: 100%;
  }
}
.navlist__item {
  display: inline-block;
  border-left: 1px solid $border-color;
  width: 135px;
  height: 35px;
}

.navlist__item__content {
  display: flex;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  @include in-mobile {
    height: auto;
  }
  > span {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.3rem;
    line-height: 1.538;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.065rem;
    color: white;
    &:after {
      content: "";
      color: inherit;
      width: 100%;
      height: 4px;
      bottom: -1px;
      left: 0;
      right: 0;
      position: absolute;
      background-color: white;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform 0.365s ease;
    }
  }
  &:hover {
    > span {
      &:after {
        transform: scaleY(1);
      }
    }
  }
}

.navlist__item.is--active {
  > .navlist__item__content {
    > span {
      &:after {
        transform: scaleY(1);
      }
    }
  }
}

/* ---- Sections & Grid ---- */

section {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  > .section-content {
    @include grid;
    position: relative;
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
    @include in-mobile {
      margin: 0;
    }
  }
}

.latest {
  background: black;
  height: 100vh;
  .section-content {
    > img {
      display: inline-block;
      grid-column: 5 / -1;
      @include in-mobile {
        grid-column: 4 / -1;
      }
      object-fit: cover;
      height: 100%;
      min-width: 999px;
      position: absolute;
    }

    > h6 {
      color: white;
      text-transform: uppercase;
      margin-top: 29.6rem;
      grid-column: 2 / span 2;
      @include in-mobile {
        margin-top: 15rem;
        grid-column: 2 / span 5;
      }

      letter-spacing: 0.104rem;
      line-height: 1.538;
      position: relative;
      transform: translate(-200%);
    }

    > h1 {
      grid-column: 2 / span 6;
      z-index: 3;
      position: relative;
      left: -5px;
      @include in-mobile {
        grid-column: 2 / span 9;
        font-size: 4rem;
      }
    }

    > p {
      font-family: "Roboto Condensed", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.054rem;
      line-height: 1.428;
    }

    > p {
      grid-column: 2 / span 2;
    }
    > .year {
      grid-column: 4 / span 1;
      @include in-mobile {
        grid-column: 2 / span 1;
      }
    }
    > .read-more {
      cursor: pointer;
      grid-column: 2 / span 1;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 5.1rem;
      > a {
        position: relative;
        &:before {
          content: "";
          display: block;
          border: 1px solid $gray;
          width: 10rem;
          height: 10rem;
          opacity: 0;
          border-radius: 50%;
          transition: opacity 0.365s ease;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        &:hover {
          &:before {
            opacity: 1;
          }
        }
        > i {
          font-size: 1.6rem;
          color: white;
        }
      }
    }
    > .mouse-scroll {
      z-index: 0;
      left: 1px;
      cursor: pointer;
      grid-column: 1 / span 1;
      position: absolute;
      bottom: 5.7rem;
      > i {
        font-size: 3.7rem;
        color: $gray;
        transition: color 0.365s;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.about {
  background-color: $about-bg;
  padding-bottom: 18rem;
  > .section-content {
    margin-top: 30.4rem;
    @include in-mobile {
      margin-top: 12rem;
    }
    > img {
      display: inline-block;
      grid-column: 2 / span 3;

      object-fit: cover;
      width: 100%;
      max-width: 319px;
      height: 100%;
      min-height: 490px;
      @include in-mobile {
        grid-column: 1 / -1;
        margin: 0 5px;
        min-width: 100%;
        max-width: unset;
        height: auto;
      }
    }
    > .details {
      grid-column: 5 / span 7;
      @include in-mobile {
        grid-column: 1 / -1;
        margin: 0 5px;
      }
      display: flex;
      flex-direction: column;
      height: 100%;
      > h6 {
        text-transform: uppercase;
        font-family: "Roboto Condensed", sans-serif;
        letter-spacing: 0.102rem;
        line-height: 1.444;
        max-width: 22rem;
      }
      > h2 {
        grid-column: 5 / span 3;
        line-height: 1.3;
        max-width: 34rem;
        white-space: pre;
        margin-top: 2.7rem;
        transform: translate(0);
      }

      > .description {
        width: 100%;
        font-size: 1.6rem;
        line-height: 3rem;
        padding-top: 4rem;
        padding-bottom: 5rem;
        border-top: 0.1rem solid black;
        border-bottom: 0.1rem solid black;
        // height: 24.2rem;
        margin-top: auto;
        > p {
          columns: 2;
          > b {
            color: black;
          }
        }
        > .link-to-more {
          margin-top: 3.5rem;
        }
      }
    }
    > .history {
      grid-column: 5 / span 4;
      @include in-mobile {
        grid-column: 1 / span 6;
      }
      min-height: 15.5rem;
      position: relative;
      top: -20px;
      border-right: 4px solid black;
      margin-left: 4px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .history-text {
        padding-top: 29px;
        > span {
          font-family: $montserrat;
          font-size: 24px;
          line-height: 39px;
          color: white;
          background-color: black;
          max-width: 340px;
          box-decoration-break: clone;
          padding: 1px 4px 2px 4px;
        }
      }
    }
    > .tagline {
      grid-column: 9 / span 2;
      text-transform: uppercase;
      font-family: $roboto;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.37px;
      padding: 12px 0 0 2px;
      color: black;
    }
  }
}

.projects {
  margin: 258px 0 200px 0;
  background-color: white;
  overflow: initial;
  .section-content {
    > h2 {
      grid-column: 1 / span 11;
      text-align: right;
      transform: translate(0);
    }
    > span {
      grid-column: 8 / span 4;
      text-align: right;
      font-family: $montserrat;
      color: $gray;
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 40px;
    }
    .project {
      &:nth-of-type(1) {
        grid-column: 2 / span 5;
      }
      &:nth-of-type(2) {
        grid-column: 7 / span 5;
      }
    }
    .link-to-more {
      grid-column: 2 / span 10;
      margin-left: auto;
      margin-top: 35px;
    }
  }
}

.news {
  background-color: black;
  > .section-content {
    > h3 {
      color: white;
      grid-column: 2 / span 4;
      margin-top: 267px;
    }
    > p {
      // color: $gray;
      grid-column: 6 / span 4;
      font-size: 16px;
      line-height: 28px;
      margin-top: 346px;
    }
    > .news-card {
      grid-column: 2 / span 3;
      border: 1px solid $gray;
      padding-top: 71px;
      padding-left: 19px;
      height: 451px;
      margin-bottom: 50px;
      position: relative;
      > h6 {
        text-transform: uppercase;
        color: $gray;
        line-height: 1;
      }
      > img {
        width: 320px;
        height: 336px;
        top: 96px;
        right: -1px;
        position: absolute;
      }
    }
  }
}

/* ---- Item Cards ---- */

.project {
  grid-column: 2 / span 5;
  display: flex;
  flex-direction: column;
  height: 510px;
  > .project__category {
    font-family: $roboto;
    font-size: 13px;
    color: black;
    letter-spacing: 1.04px;
    text-transform: uppercase;
  }

  > .project__title {
    font-family: $montserrat;
    font-size: 30px;
    max-width: 350px;
    color: black;
    left: -3px;
    margin-top: 7px;
    position: relative;
  }

  > .year {
    margin-top: auto;
    color: black;
    justify-content: flex-start;
    &:before {
      border-bottom-color: black;
    }
  }
  > .project__image-container {
    width: 100%;
    height: 320px;
    margin-top: 30px;
    position: relative;
    display: block;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: black;
      opacity: 0;
      z-index: 1;
      transition: opacity 0.1s linear;
    }
    &:hover {
      &:after {
        opacity: 0.3;
      }
    }
  }
}

/* ---- Footer ---- */

footer {
  height: 483px;
  background-color: white;
}
